@import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";

.container{
    background-color: rgb(230, 168, 230);
    border-radius: 1rem;
    padding: 3rem;
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}

input[type=number]{
    width: 500px;
    margin: 1rem 0;
}

select{
    width: 300px;
}
input[type=submit]{
    margin: 1rem 0;
}



svg{
    width: 35px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

